body {
    font-family: Arial, sans-serif;
    background-color: rgb(213, 188, 158);
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(120, 184, 184);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  #itemInput {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #shoppingList {
    list-style-type: none;
    padding: 0;
  }
  
  #shoppingList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #f9f9f9;
    margin-bottom: 8px;
  }
  
  #shoppingList li span {
    flex-grow: 1;
  }
  
  #shoppingList li button {
    background-color: #f44336;
    margin-left: 8px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }